.book-quick-edit-form {
  margin-top: 24px;

  &__title {
    margin-bottom: 16px !important;
  }

  &__select {
    width: 100%;
  }

  &__switch-group {
    display: flex;
    gap: 24px;
    padding-top: 8px;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #f0f0f0;
  }
}
