.book-detail-user-interactions {
  height: 100%;

  &__title {
    margin-bottom: 16px !important;
  }

  &__tab-label {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .ant-tabs {
    .ant-tabs-nav {
      margin-bottom: 16px;
    }

    .ant-tabs-tab {
      font-weight: 500;

      &:hover {
        color: #1890ff;
      }
    }

    .ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        color: #1890ff;
        font-weight: 600;
      }
    }
  }
}
