.book-detail-reviews-comments {
  height: 100%;

  &__title {
    margin-bottom: 16px !important;
  }

  &__tab-label {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .ant-tabs {
    .ant-tabs-nav {
      margin-bottom: 16px;
    }
  }
}
