.book-detail-chapters {
  height: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__title {
    margin: 0 !important;
  }

  &__create-button {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  &__pagination {
    margin-top: 16px;
    display: flex;
    justify-content: center;
  }
}
