.book-detail-pricing {
  height: 100%;

  &__title {
    margin-bottom: 16px !important;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    color: #6b7280;
  }

  &__value {
    font-weight: 600;
  }

  &__original-price {
    color: #1f2937;
  }

  &__sale-percent {
    color: #ef4444;
  }

  &__sale-price {
    color: #22c55e;
    font-size: 16px;
  }

  &__status-tag {
    margin: 0;
  }
}
