.orders-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__title {
    margin: 0 !important;
  }

  &__description {
    color: #6b7280;
  }
}
