.chapter-galleries-editor {
  width: 100%;

  &__card {
    margin-bottom: 0;
  }

  &__summary {
    margin-top: 16px;
  }

  &__summary-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.85);
  }

  &__actions {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
  }
}
